button {
    border: 1px solid #1b2469;
    border-radius: 10px;
    background-color: #1b2469;
    display: block;
    margin: 40px auto;
    padding: 25px;
    font-size: 35px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}

div {
    width: 30px;
    height: 30px;
    background-color: #e43030;
    margin: 10px;
    float: left;
    color: #fff;
    text-align: center;
    line-height: 30px;
}

.circle {
    border-radius: 100px;
    background-color: green;
}