body {
    margin: 5vw;
    text-align: center;
    font-family: arial;
}

label,
input {
    height: 40px;
    line-height: 40px;
    font-size: 30px;
}

div {
    border: 2px solid black;
    font-size: 40px;
    margin: 20px;
}

.active {
    border: 2px solid rgb(185, 159, 44);
    background-color: #000;
    color: #fff;
}