html {
    font-family: Arial, Helvetica, sans-serif;
}

button {
    display: block;
    margin: 50px auto 50px;
    background-color: #fff;
    border: 4px solid cadetblue;
    padding: 20px 50px;
    font-size: 22px;
    cursor: pointer;
}

div {
    margin: 10px;
    font-size: 26px;
    text-align: center;
}